.Board {
  padding: 2rem;
  width: 100%;
  background-color: #f2f2f2;
  height: 100vh;
}

.Board__heading {
  padding: 0 0.5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Board__columns-section {
  display: flex;
  overflow-x: auto;
  height: calc(100% - 128px);
}

.Board__new-column {
  width: 20vw;
  flex: 0 0 auto;
  padding: 0 0.75rem;
}
.Board__new-column button {
  margin-top: 2.3rem;
  width: 100%;
}

.Board__columns-section::-webkit-scrollbar {
  display: none;
}
