.App__board {
  padding: 2rem;
  width: 100%;
  background-color: #f2f2f2;
  height: 100vh;
}

.App__board-heading {
  padding: 0 0.5rem;
}

.App__columns-section {
  display: flex;
  overflow-x: auto;
}

.App__column {
  width: 25vw;
  flex: 0 0 auto;
  padding: 0 0.5rem;
}

.App__columns-section::-webkit-scrollbar {
  display: none;
}

.App__column-contents {
  margin: 0;
}
.App__column-item {
  background-color: #fff;
  list-style: none;
  min-height: 100px;
  padding: 0.4rem;
  margin: 0.75rem 0 0.5rem;
}
